.arrowBackground {
	background-color: var(--dark-orange);
	width: 30px;
	height: 30px;
	margin: 5px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease-out 0.2s;
}

.arrowIcon {
	border-radius: 50%;
	position: absolute;
	width: 35px;
	height: 35px;

	cursor: pointer;
}

.arrowBackground:hover {
	background-color: var(--orange);
}
