.ILContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--default-small-gap);
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
	.ILContainer {
		width: 50%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.ILContainer {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.ILContainer {
		width: 50%;
	}
}

@media print {
	.ILContainer {
		width: 50%;
	}
}
