.ILContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
	.ILContainer {
		width: 50%;
		gap: 15px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.ILContainer {
		width: 50%;
		gap: 15px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.ILContainer {
		width: 50%;
		gap: 20px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.ILContainer {
		gap: 25px;
	}
}

@media only screen and (min-width: 1200px) {
	.ILContainer {
		gap: 25px;
	}
}

@media print {
	.ILContainer {
		width: 50%;
		gap: 20px;
	}
}
