.menuContainer {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    left: 100%;
}

.menuIconContainer {
    position: absolute;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTitleContainer {
    height: 100px;
    padding-right: var(--default-small-gap);
}

.menuLink {
    width: 100%;
}

.menuIcon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('/icons/menu.png');
    background-color: var(--orange);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center center;
    cursor: pointer;
}

.menu {
    position: fixed;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 350px;
    transform: translateX(350px);
    gap: 20px;
    transition:
        all 0.5s cubic-bezier(0.5, 0, 0, 0.75),
        opacity 0.5s cubic-bezier(0.5, 0, 0, 0.75);
}

////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 0px) and (max-width: 479px) and (orientation: portrait) {
    .menuIconContainer {
        height: 70px;
        width: 30px;
        transform: translateX(-15px);
    }

    .menuTitleContainer {
        height: 70px;
    }

    .menuIcon {
        width: 30px;
        height: 30px;
    }

    .openedMenuContainer {
        width: 100vw;
    }

    .menu {
        height: 100%;
        width: 100%;
        transform: translateX(90%);
        gap: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: portrait) {
    .menuIconContainer {
        height: 70px;
        width: 40px;
        transform: translateX(-15px);
    }

    .menuTitleContainer {
        height: 70px;
    }

    .menuIcon {
        width: 40px;
        height: 40px;
    }

    .openedMenuContainer {
        width: 100vw;
    }

    .menu {
        height: 100%;
        width: 100%;
        transform: translateX(90%);
        gap: 20px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .menuIconContainer {
        height: 70px;
        width: 40px;
        transform: translateX(-15px);
    }

    .menuTitleContainer {
        height: 70px;
    }

    .menuIcon {
        width: 40px;
        height: 40px;
    }

    .openedMenuContainer {
        width: 100vw;
    }

    .menu {
        height: 100%;
        width: 100%;
        transform: translateX(90%);
        gap: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .menuIconContainer {
        height: 70px;
        width: 40px;
        transform: translateX(-25px);
    }

    .menuTitleContainer {
        height: 70px;
    }

    .menuIcon {
        width: 40px;
        height: 40px;
    }

    .openedMenuContainer {
        width: 100vw;
    }

    .menu {
        height: 100%;
        width: 100%;
        transform: translateX(90%);
        gap: 20px;
    }

    .menu__hidden {
        transform: translateX(100%);
    }

    .menu__visible {
        transform: translateX(0%);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .menuIconContainer {
        height: 70px;
        width: 60px;
        transform: translateX(-15px);
    }
    .menuTitleContainer {
        height: 70px;
    }

    .menuIcon {
        width: 40px;
        height: 40px;
    }

    .openedMenuContainer {
        width: 100vw;
    }

    .menu {
        height: 100%;
        width: 100%;
        transform: translateX(90%);
        gap: 20px;
    }
}

@media only screen and (min-width: 992px) and (orientation: portrait) {
    .menuIconContainer {
        height: 100px;
        width: 60px;
    }

    .menuTitleContainer {
        height: 100px;
    }

    .menuIcon {
        width: 60px;
        height: 60px;
        transform: translateX(-25px);
    }

    .menu {
        height: 100%;
        width: 100%;
        transform: translateX(90%);
        gap: 20px;
    }
}

@media only screen and (min-width: 992px) and (orientation: landscape) {
    .menuTitleContainer {
        height: 100px;
    }
}
