.recipeFeedbackContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	padding-top: 30px;
	border-top: solid 1px var(--light-grey);
}

.giveFeedbackContainer {
	display: flex;
	align-items: center;
}
