.textareaContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: var(--default-transition);
	height: 100%;
	textarea {
		height: 100%;
	}
}

.textInput {
	background-color: var(--white);
	border: 0px;
	width: 100%;
	transition: all 0.3s var(--cubicbezier);
	cursor: text;
	resize: none;
}

.textInput:focus,
.textInput:hover {
	outline-width: 0px;
}

.textInput::placeholder {
	color: var(--grey);
}

.textareaUnderline {
	width: 100%;
	height: 1px;
	background-color: var(--light-grey);
	transition: var(--default-transition);
}

.textareaContainer:hover,
.textareaContainer:focus-within {
	.textareaUnderline {
		background-color: var(--grey);
	}
}
